<% if !flash[:notice].blank? %>
  <div class = "alert alert-info">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <%= link_to "Add Report", new_report_path, class: "btn btn-link" %>
    <table class = "table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Report Name</th>
          <th scope="col">Download Link</th>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>       
            <tr>
              <td><%= report.file_name %></td>
              <td><%= link_to "Download Report", report.attachment_url %></td>
              <td><%= button_to "Delete",  report, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{report.file_name}?" %></td>
            </tr>      
        <% end %>
      </tbody> 
    </table>
  </div>
</div>
